<%= form_with(model: recipe, class: 'container') do |form| %>
<%= form.hidden_field :user_id, value: 1%>

<div class="row">
    <div class="col-12 mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'Enter a recipe name', required: true %>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <%= form.label :preparation_time, class: 'form-label' %>
      <%= form.text_field :preparation_time, pattern: /^\d*\.?\d*$/, class: 'form-control' %>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <%= form.label :cooking_time, class: 'form-label' %>
      <%= form.text_field :cooking_time, pattern: /^\d*\.?\d*$/, class: 'form-control' %>
    </div>

    <div class="col-12 mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="col-12 mb-3">
      <div class="form-check">
        <%= form.check_box :public, class: 'form-check-input' %>
        <%= form.label :public, class: 'form-check-label' %>        
      </div>      
    </div>   

    <div class="col-12 mt-3 text-end align-baseline">
      <%= link_to '< Back', recipes_path, class:'btn btn-outline-danger'%>
      <%= form.submit 'Save', class: 'btn btn-primary text-light ms-3' %>
    </div>
  </div>
<% end %>
