<main class='container justify-content-center pt-4'>
  <h1 class='text-center mb-5'>Public Recipes</h1>

  <div class='border p-3 rounded shadow'>
    <% @public_recipes.each do |recipe| %>
      <div class='d-flex flex-row mb-4 p-4 border justify-content-between'>
        <div class='col-4 d-flex flex-column text-center'>
          <%= link_to recipe_path(recipe.id) do %>
            <h2 class='mb-3'><%= recipe.name %></h2>
          <% end %>
        <h5 class ="text-info">  <span class= "text-primary">by </span><%= recipe.user.name %></h5>
        </div>
        <div class='col-6 d-flex flex-column justify-content-center'>
          <% @recipe_prices.each do |recipe_food| %>
            <% if recipe.id == recipe_food[:rec_id]%>
              <p>Total items: <%= recipe_food[:items] %></p>
              <p>Total price: $<%= recipe_food[:price] %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</main>