<main class='container'>
  <h1 class='text-center'><%= @recipe.name %></h1>

  <div class='border p-3 rounded shadow'>
    <div class='d-flex justify-content-between'>
      <p>Preparation time: <%= @recipe.preparation_time%> hour</p>
      <div>
        <% if @recipe.public %>
          <span class="badge text-bg-warning p-2 px-4">Public</span>
        <% else %>
          <span class="badge text-bg-primary p-2 px-4">Private</span>
        <% end %>
      </div>
    </div>

    <div>
      <p>Cooking time: <%= @recipe.cooking_time %> hour<p>
    </div>

    <div>
      <p>Steps: <%= @recipe.description %><p>
    </div>

    <div class='d-flex justify-content-between p-2'>
      <button type="button" class="btn btn-outline-primary">Generate shpping list</button>
      <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: "btn btn-outline-primary" %>
    </div>

    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
            <th scope="col">Value</th>
            <% if user_signed_in? && (current_user == food_recipe.recipe.user) %>
              <th scope="col" class='text-center'>Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @food_recipe.each do |food_recipe|%>
            <tr>
              <th> <%= food_recipe.food.name%> </th>
              <td> <%= food_recipe.quantity %> <%= food_recipe.food.measurment_unit %> </td>
              <td> <%= food_recipe.food.price * food_recipe.quantity %> </td>
              <% if user_signed_in? && (current_user == food_recipe.recipe.user) %>
                <td class='d-flex justify-content-around'>
                  <button type="button" class="btn btn-primary">Modify</button>

                  <%= button_to 'Remove', recipe_recipe_food_path(food_recipe.recipe.id, food_recipe.id), method: :delete, class: 'btn btn-primary' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
    </div>

  </div>
</main>